
body{
  background-color:wheat;
    background: url(https://i.pinimg.com/originals/5c/f2/66/5cf2660af5f4214def7166dc7a7c8062.jpg) center;
}

/*#region Header */
.header{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #3B3568;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aqua;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-left: 30px;
}
.nav{
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 30px;
}
.nav_link{
    display: inline-block;
    vertical-align:top;
    margin: 20px 0 20px 40px;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
}
.nav_link:hover{
    color:bisque;
}
/*#endregion*/
.tele{
    width: 80%;
    height: 100%;
    max-width: 1200px;
    margin: 30px auto;
    background-color: rgba(243, 21, 109, 0.4);
    justify-content: space-between;
    align-items: center;
    display: flex;
    border: 2px solid red;
    border-radius: 25px;
}
/* #region Dropdown */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin: 5px;
    align-content: right;
}
.dropdown {
    position: relative;
    display: inline-block;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 104px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
/*#endregion */
/*#region table */
.tg{
  margin: auto;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:10px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:10px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-096r{color:#000000;text-align:left;vertical-align:top}
.tg .tg-ty62{color:#000000;font-weight:bold;text-align:left;text-decoration:underline;vertical-align:top}
.tg .tg-9iv7{color:#000000;text-align:left;vertical-align:middle}
.tg .tg-6n7w{color:#000000;font-weight:bold;text-align:left;vertical-align:top}
/* #endregion  */

/*#region carousel*/


/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: sticky;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/*#endregion */
